<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="pl.edu.agh.toik.ep.translator" name="Translator" schema="schema/pl.edu.agh.toik.ep.translator.exsd"/>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="pl.edu.agh.toik.ep.definition.Application">
         </run>
      </application>
   </extension>

</plugin>
